@font-face {
    font-family: 'Liberation Serif';
    font-style: 80px;
    font-weight: normal;

    src: url('/assets/fonts/Itim-Regular.ttf');

}

// *{
//     --ion-background-color:#ffffff;
//   // --background: url('/assets/img/3.jpg') no-repeat;
// }

*{
    --ion-font-family: 'Liberation Serif';
}

