<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="fixed">
    <ion-icon name="logo-twitter" item-start></ion-icon>
    {{getName}}
    <ion-badge item-end></ion-badge><br>
  </ion-item>
  <ion-item id="fixed">
    <ion-icon name="logo-twitter" item-start></ion-icon>
    {{getName}}
    <ion-badge item-end></ion-badge><br>
  </ion-item>
  <ion-item id="fixed">
    <ion-icon name="logo-twitter" item-start></ion-icon>
    {{getName}}
    <ion-badge item-end></ion-badge><br>
  </ion-item>
  <ion-item id="fixed">
    <ion-icon name="logo-twitter" item-start></ion-icon>
    {{getName}}
    <ion-badge item-end></ion-badge><br>
  </ion-item>
</ion-content>