<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: rgb(173, 173, 235);">
    <ion-avatar class="imgpro" >
      <img src="{{img}}">
    </ion-avatar>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ข้อมูลส่วนตัว</ion-card-subtitle>
      <ion-card-title>ชื่อ-สกุล  {{getName}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     username : {{getUsername}}<br>email : {{getEmil}}<br>เบอร์โทรศัพท์ : {{getTel}}<br>เป็นสมาชิกเมื่อ : {{timeRegistor}}
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label style="color:rgb(37, 228, 30)">สถานะไม่มีความเสี่ยง</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label style="color:rgb(55, 243, 30)">อยู่ในพื้นที่ปลอยภัย</ion-label>
    </ion-item>
  </ion-card>
  <ion-button (click)="modify()" color="warning" expand="block">
    แก้ไขข้อมูลส่วนตัว
  </ion-button>
  <ion-button (click)="logout()" color="danger" expand="block">
    ออกจากระบบ
  </ion-button>
</ion-content>