ion-toolbar {
    --background: url('/assets/img/11.png') no-repeat ;
    // --min-height:1px!important;
    font-size: 130%;
  
    color: rgb(255, 247, 247);
    
    }
    .center{
        text-align:center;
   }