<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ข่าวสาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="background-color: rgb(216, 216, 216);" *ngFor="let news of newsOnline" mode="ios">
    <img [src]="news.urlimg" />
    <ion-card-header>
      <ion-card-title>{{news.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{news.detal}}
    </ion-card-content>
    <div class="center">
      <ion-button  [href]="news.refer" >
        อ้างอิง
      </ion-button>
    </div>
  </ion-card>
</ion-content>
