<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar">ลงทะเบียน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="regisform" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">ชื่อ</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">สกุล</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">อีเมล์</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ชื่อผู้ใช้</ion-label>
      <ion-input type="username" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">รหัสผ่าน</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button class="buttoncenter" type="submit" [disabled]="!regisform.valid" expand="full" style="width: 70%; height: 40px; ;" color="danger" expand="block" color="danger">บันทึกลงทะเทียน</ion-button>
  </form>
</ion-content>